{% extends 'oursite/base.html'%}
<!-- {% load staticfiles %} -->

    

        
        {% block body%}
        <div id="who-we-are">
            <div class="container">
              <div class="row mb-4">
                <div class="col-md-4">
                  <div class="box clickable d-flex flex-column justify-content-center mb-0 h-100">
                    <div class="icon"><i class="fa fa-thumbs-up"></i></div>
                    <h3><a href="#">Who are we??</a></h3>
                    <p class="mb-0">Talented ICT specialists with a lot of skills aiming to solve community problems using new technology</p>
                    <p>
                      <a href="#" class="btn btn-more i-right">Learn More <i class="fa fa-angle-right"></i></a>
                    </p>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="box clickable d-flex flex-column justify-content-center mb-0 h-100">
                    <div class="icon"><i class="fa fa-heart"></i></div>
                    <h3><a href="#">Let's fast foward your business</a></h3>
                    <p class="mb-0">We’re a network of innovators. We devise bold solutions to the most client challenges. It’s our ability to explore new technologies to design best-fit solutions</p>
                    <p>
                      <a href="#" class="btn btn-more i-right">Learn More <i class="fa fa-angle-right"></i></a>
                    </p>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="box clickable d-flex flex-column justify-content-center mb-0 h-100">
                    <div class="icon"><i class="fa fa-thumbs-up"></i></div>
                    <h3><a href="#">Technology partner for your marketing agency</a></h3>
                    <p class="mb-0">You are good at marketing strategy and creative things, and we are good at technology – let’s build amazing websites and mobile apps together and inspire each other’s growth.</p>
                    <p>
                      <a href="#" class="btn btn-more i-right">Learn More <i class="fa fa-angle-right"></i></a>
                    </p>
                  </div>
                </div>
              </div>
              <!-- /.row-->
            </div>
            <!-- /.container-->
          </div>

          <div id="services">
            <div class="box py-4">
                <div class="container">
                  <div class="row">
                    <div class="col-md-12">
                      <h2 class="mb-0">Our Services</h2>
                    </div>
                  </div>
                </div>
              </div>
            
          </div>

          <!---our services-->
          <div class="services block block-bg-gradient block-border-bottom">
            <div class="container">
              <div class="row">
                <div class="col-md-4 text-center">
                  <span class="fa-stack fa-5x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-group fa-stack-1x fa-inverse"></i> </span>
                  <h4 class="text-weight-strong">
                      Websites Development
                    </h4>
                  <p>You are good at marketing strategy and creative things, and we are good at technology – let’s build amazing websites and mobile apps together
                     and inspire each other’s growth.
                 </p>
                 <p>
                    <a href="#" class="btn btn-more i-right">Learn More <i class="fa fa-angle-right"></i></a>
                  </p>
                </div>
                <div class="col-md-4 text-center">
                  <span class="fa-stack fa-5x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-pencil fa-stack-1x fa-inverse"></i> </span>
                  <h4 class="text-weight-strong">
                      Mobile App Development
                    </h4>
                  <p>We’re a network of innovators. We devise bold solutions to the most client challenges. It’s our ability to explore new technologies to design best-fit solutions</p>
                  <p>
                    <a href="#" class="btn btn-more i-right">Learn More <i class="fa fa-angle-right"></i></a>
                  </p>
                </div>
                <div class="col-md-4 text-center">
                  <span class="fa-stack fa-5x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-cogs fa-stack-1x fa-inverse"></i> </span>
                  <h4 class="text-weight-strong">
                      Code &amp; Development / Implementation Support
                    </h4>
                  <p>In addition to coding, we’ll stand by your side all the way from the start up of the development process or a successful project launch and further maintenance. </p>
                  <p>
                    <a href="#" class="btn btn-more i-right">Learn More <i class="fa fa-angle-right"></i></a>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <hr>
          <div class="services block block-bg-gradient block-border-bottom">
            <div class="container">
              <div class="row">
                <div class="col-md-4 text-center">
                  <span class="fa-stack fa-5x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-group fa-stack-1x fa-inverse"></i> </span>
                  <h4 class="text-weight-strong">
                      Websites Development
                    </h4>
                  <p>You are good at marketing strategy and creative things, and we are good at technology – let’s build amazing websites and mobile apps together
                     and inspire each other’s growth.
                 </p>
                 <p>
                    <a href="#" class="btn btn-more i-right">Learn More <i class="fa fa-angle-right"></i></a>
                  </p>
                </div>
                <div class="col-md-4 text-center">
                  <span class="fa-stack fa-5x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-pencil fa-stack-1x fa-inverse"></i> </span>
                  <h4 class="text-weight-strong">
                      Mobile App Development
                    </h4>
                  <p>We’re a network of innovators. We devise bold solutions to the most client challenges. It’s our ability to explore new technologies to design best-fit solutions</p>
                  <p>
                    <a href="#" class="btn btn-more i-right">Learn More <i class="fa fa-angle-right"></i></a>
                  </p>
                </div>
                <div class="col-md-4 text-center">
                  <span class="fa-stack fa-5x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-cogs fa-stack-1x fa-inverse"></i> </span>
                  <h4 class="text-weight-strong">
                      Code &amp; Development / Implementation Support
                    </h4>
                  <p>In addition to coding, we’ll stand by your side all the way from the start up of the development process or a successful project launch and further maintenance. </p>
                  <p>
                    <a href="#" class="btn btn-more i-right">Learn More <i class="fa fa-angle-right"></i></a>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <!-------services end-->
          <hr>
          <div id="services">
            <div class="box py-4">
                <div class="container">
                  <div class="row">
                    <div class="col-md-12">
                      <h2 class="mb-0 text-info"> Some of our clients</h2>
                    </div>
                  </div>
                </div>
              </div>

          </div>

          
            <div class="container mt-5 mb-5">
                <div class="">
                  <div class="row">
                    <!--Client logos should be within a 120px wide by 60px height image canvas-->
                    <div class="col-xs-6 col-md-2">
                      <a href="" title="Client 1">
                          <img class="rounded-circle" src="{% static 'images/client2.jpeg' %}" alt="Client 1 logo" class="img-responsive">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-2">
                      <a href="" title="Client 2">
                          <img class="rounded-circle" src="{% static 'images/client2.jpeg' %}" alt="Client 2 logo" class="img-responsive">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-2">
                      <a href="" title="Client 3">
                          <img class="rounded-circle" class="rounded-circle" src="{% static 'images/client2.jpeg' %}" alt="Client 3 logo" class="img-responsive">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-2">
                      <a href="" title="Client 4">
                          <img class="rounded-circle" src="{% static 'images/client2.jpeg' %}" alt="Client 4 logo" class="img-responsive">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-2">
                      <a href="" title="Client 5">
                          <img class="rounded-circle" src="{% static 'images/client2.jpeg' %}" alt="Client 5 logo" class="img-responsive">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-2 ">
                      <a href="" title="Client 6">
                          <img  class="rounded-circle" src="{% static 'images/client2.jpeg' %}" alt="Client 6 logo" class="img-responsive">
                        </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          
          
        
         {% endblock %}
      <!--footer-->
    

     


</html>